* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */
.container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}

h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #001931;
}
h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #001931;
}
p {
  font-weight: 400;
  font-size: 16px;
  color: #627382;
  margin: 16px 0;
}
.logo {
  width: 139px;
  height: 60px;
}
.btn {
  background-color: #30b868;
  padding: 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: white;
}
.btn:hover {
  background-color: blue;
  cursor: pointer;
}
.btn-2 {
  padding: 16px;
  background-color: transparent;
  border: 1px solid whitesmoke;
  border-radius: 4px;
  font-size: 16px;
  color: whitesmoke;
}
.btn-2:hover {
  background-color: #ffffff;
  color: #001931;
  cursor: pointer;
}

/* navbar section */
nav {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  align-items: center;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 32px;
  align-content: center;
}
li a {
  text-decoration: none;
  color: black;
}

/* hero section */
.banner-container {
  text-align: center;
  padding: 70px 120px 135px;
  background-image: url("../assets/hero-bg.png");
}
.banner-content {
  width: 700px;
  max-width: 0 auto;
}
.banner-container h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  color: white;
}
h1 span {
  color: #30b868;
}
.banner-container p{
  color: white;
}

.early-accessBTN {
  color: #30b868;
  background-color: #ffffff;
  padding: 9px 12px;
  border-radius: 20px;
}

/* card section */
.card-container {
  margin-top: 80px;
  text-align: center;
}
.card-content {
  display: flex;
  gap: 24px;
}
.card {
  text-align: center;
  padding: 24px ;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}
.card img {
  background-color: rgba(249, 85, 85, 1);
  border-radius: 100%;
  padding: 14px;
}

/* brain section */
.brain-container {
  display: flex;
  margin-top: 80px;
  gap: 60px;
  align-items: center;
}
brain-img {
  width: 600px;
  height: 600px;
}
.brain-info {
  display: flex;
  gap: 6px;
  align-content: center;
  align-items: center;
}
.brain-info img {
  height: 20px;
  width: 20px;
}

/* Early Access Section */
.access-container {
  text-align: center;
  padding: 80px 40px;
  margin-top: 80px;
  background-color: #f7f6f2;
}

/* footer section */
footer {
  background-color: #001931;
  margin-top: 80px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  padding-right: 107px;
}
.footer-container {
  padding: 120px 0 30px;
}
.social-title {
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
}
.social a {
  color: whitesmoke;
}
/* subFooter */
footer hr {
  margin-bottom: 30px;
  border-color: rgba(255, 255, 255, 0.2);
}
.subFooter {
  color: #ffffff;
  text-align: center;
  font-size: small;
  padding-bottom: 30px;
  margin: 0;
}
